*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #111;
}


#box1{
    width: 300px;
    height: 300px;
    background-color: green;
    margin-bottom: 15px;
}
#box2{
    width: 300px;
    height: 300px;
    background-color: coral;
    margin-bottom: 15px;
}
#box3{
    width: 300px;
    height: 300px;
    background-color: blue;
}
