*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #111;
    color: white;
}

#nav{
    display: flex;
    justify-content: space-between;
    padding: 5px 5rem;
}
#logo h1{
    font-size: 5rem;
    opacity: 0;
}

#links{
    display: flex;
    gap: 20px;
}
#links h1{
    font-size: 5rem;
    opacity: 0;
}