*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #111;
}

#par{
    height: calc(100vh - 45px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    width: 300px;
    height: 300px;
    background-color: coral;
}
h1{ 
    opacity: 0;
    text-align: center;
    font-size: 50px;
    color: #fff;
}