* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #111;
    color: white;
}

#page1 {
    width: 100%;
    height: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 {
    width: 100%;
    height: 100%;
    background-color: rgb(30, 78, 94);
    display: flex;
    gap: 1vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
}

#page2 h1 {
    background-color: red;
    padding: 10px 15px;
}

#page2 h2 {
    background-color: yellow;
    padding: 10px 15px;
    color: black;
}

#page3 {
    width: 100%;
    height: 100%;
    background-color: rgb(21, 45, 53);
    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    width: 300px;
    height: 300px;
    background-color: rgb(226, 47, 47);
}